<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".SmartAccounting">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".activities.SearchActivity" />
        </activity>

        <provider
            android:name=".db.AccountingProvider"
            android:authorities="help.smartbusiness.smartaccounting.db"
            android:multiprocess="true" />

        <!-- Stop orientation to avoid losing data for now. Implement onSaveInstance() later -->
        <activity
            android:name=".activities.CreatePurchase"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/purchase.create.label"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.TransactionListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CreateCreditActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/credit.create.label"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.EditPurchaseActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/purchase.edit.label"
            android:parentActivityName=".activities.TransactionListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.EditCreditActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/credit.edit.label"
            android:parentActivityName=".activities.TransactionListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.SearchActivity"
            android:label="@string/search.results"
            android:parentActivityName=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".activities.BackupActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.EditCustomerActivity"
            android:label="@string/customer.edit"
            android:parentActivityName=".activities.TransactionListActivity" />

        <service
            android:name=".services.ExportDbService"
            android:exported="false" />
        <service
            android:name=".services.ImportDbService"
            android:exported="false" />

    </application>

</manifest>
